node_modules
vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.log
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
!storage/logs/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/framework/cache/.gitignore